body {
  margin: 0;
  background-color: #e6e6e6;
  color: #564740;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 98vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

kbd {
  background-color: #fbf3ed;
  padding: 4px;
  border: 1px solid #564740;
  border-radius: 3px;
  color: #564740;
  font-weight: bold;
}

kbd:hover {
  background-color: #564740;
  color: #fbf3ed;
  cursor: default;
}

main {
  width: 95vw;
  margin: 2vh 2vw;
}

a {
  text-decoration: none;
  color: #2e7254;
}

a:hover {
  color: #63c199;
}

h2 {
  margin-top: 4vh;
}

hr {
  border: 2px solid #564740;
}

.shadow {
  -webkit-box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.68);
}

.shell {
  width: 250px;
  max-width: 90vw;
  height: 50px;
  background-color: #564740;
  color: #f7e3d6;
  border: 2px solid #f7e3d6;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #80736b;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
}

.copy > img {
  height: 13px;
  width: 13px;
}

.code {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#env-block {
  display: flex;
  flex-direction: column;
}

#script-three {
  width: max-content;
}

.code > p {
  display: inline;
  font-family: monospace;
  margin-right: 4px;
  color: #63c199;
  cursor: default;
}

.browser {
  width: max-content;
  height: 30px;
  background-color: #e6e6e6;
  color: #564740;
  border: 2px solid #564740;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}

.image {
  border: 2px solid #564740;
  border-radius: 5px;
  max-width: 90vw;
}

.banner {
  max-width: 90vw;
}

.gif {
  width: 600px;
  border: 2px solid #63c199;
  background-color: black;
  padding: 5px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  max-width: 98vw;
}

#react {
  max-width: 20vw;
}

#surge {
  max-width: 20vw;
}

#vite {
  max-width: 20vw;
}
